html {
  padding: 20px;
  font: normal 16px Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 26px;
}

header, main {
  padding: 10px;
}

dt {
  padding-bottom: 5px;
}

dd {
  padding-bottom: 10px;
}

button {
  cursor: pointer;
}

#interval,
.select-file-btn,
.start-btn {
  height: 25px;
  width: 82px;
}

#interval {
  padding: 2px 5px;
}

.select-file-btn {
  margin-right: 7px;
  background: #E6DEFF;
  color: #8400FF;
}

.start-btn {
  margin-right: 7px;
  transition: all .1s ease-in;
  background: #E6DEFF;
  color: #8400FF; 
}

.start-btn:hover {
  color: #E6DEFF;
  background: #8400FF; 
}

.error {
  color: #FF2B8F;
}