html {
  padding: 20px;
  font: normal 16px Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 26px;
}

header, main {
  padding: 10px;
}

dt {
  padding-bottom: 5px;
}

dd {
  padding-bottom: 10px;
}

input[type="text"] {
  padding: 2px 5px;
  height: 25px;
  width: 82px;
}

button {
  height: 33px;
  width: 82px;
  background: #E6DEFF;
  color: #8400FF;
}